body {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border: 1px solid black;
    padding: 1px;
}
#journalDate{
    text-align: left;
    width: 250px;
    height: 20px;
}

#covered {
    width: 250px;
    height: 20px;
}

#journal {
    width: 250px;
    height: 140px;
}
#mood{
    width: 60px;
    height: 20px;
}

#record-entry {
    background-color: lightseagreen;
    border: 2px solid black;
    width: 150px;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
}

